<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Oddy E-Market</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/product.css">
        <link rel="shortcut icon" href="/static/images/stylish-strapless-dress-with-belt-and-petticoat_318-43885.jpg">
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.min.js"></script>
        <script src="/static/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
       
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="main">Oddy E-Market</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <button disabled class="btn btn-primary nav-button">compare <span class="number">0</span> product(s)</button>
            </div>
        </nav>
        
        <section class="table-price text-center">
            <div class="container second-part">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="products-container" class="row">

                        </div>
                    </div>
                </div>       
            </div>
             <section class="menu-bar">
                <input class="productName" type="text" placeholder="Product Name">
                <i class="fa fa-search search"></i>
                <div class="price">Price:</div>
                <div class="price-info">
                    <label class="from">From</label>
                    <input class="fromInput" type="number">
                    <label class="to">To</label>
                    <input class="toInput" type="number"> 
                </div>
                 <div class="Subcategory">
                    <i class="fa fa-caret-down openMenu"></i><span>categories</span>
                    <div class="displayMenu">

                    </div>
                 </div>
                 <div class="Subcategory">
                    <i class="fa fa-caret-down openMenu2"></i><span>Brand</span>
                    <div class="displayMenu2">

                    </div>
                 </div>
             </section>
             <div class="clearfix"></div>
        </section>
        <div class="scroll-top">
            <i class="fa fa-chevron-up fa-3x"></i>
        </div>
        
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>